.history {
  flex: 1;
  width: 100%;
  max-height: 68.7rem;
  overflow-y: scroll;
  @include insideOutside(0.5rem, 0.5rem 0);
  padding-left: 5%;
  padding-right: 5%;

  & h2 {
    text-align: center;
  }

  & .historyItem {
    padding: 0.5rem 0;
    border-bottom: 1px $black solid;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      transform: translateX(-0.5rem);
    }
  }
}
