.resty {
  flex: 1;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: stretch;

  & .resty-left {
    width: 25%;
    padding-left: 5%;
    max-height: 67.7rem;
    & .history .body {
      visibility: hidden;
    }
  }

  & .resty-right {
    width: 75%;
    padding-left: 1rem;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 67.7rem;

    & .form {
      font-size: 2rem;
      & .form-top {
        display: flex;
        margin-bottom: 1rem;
        & input[type='text'] {
          padding-left: 3px;
          flex: 1;
        }
      }
      & .form-bottom {
        & textarea {
          width: 100%;
        }
      }
    }

    & .results {
      flex: 1;
      overflow-y: scroll;
      background-color: $light-gray;
      max-width: 100%;
      @include insideOutside(0.5rem, 0.5rem 0);
    }
  }
}
